root {
    interpolate-size: allow-keywords;
}

body{
    display: flex;
    justify-content: center;
}

ul{

    list-style: none;
    display: flex;
}

li{
    background: red;
    height: 8em;
    width: 8em;
    margin: 1em;
}

li:first-of-type button {
    anchor-name: --laurens;
}

li:first-of-type details {
    position: fixed;
    position-anchor: --laurens;
    position-area: block-end;
}

button {
    border: none;
    background-color: transparent;
}

details {
    overflow: hidden;
}

details > p {
    padding-block: 1rem;
}

Details::details-content {
    block-size: 0;
}

Details[open]::details-content {
    block-size: auto;
}

