:root {
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    width: 100vw;
    height:90vh;
    align-items: flex-end;
    justify-content: space-around;
}

li:nth-of-type(2){
    align-self: flex-start;

}

li{
    background: radial-gradient(circle, rgb(255, 230, 250) 0%, rgb(168, 209, 255) 100%);
    border-radius: 100%;
    height: 15em;
    width: 15em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li:first-of-type button {
    anchor-name: --laurens;
}

li:first-of-type details {
    position: fixed;
    position-anchor: --laurens;
    position-area: inline-end;
}

li:first-of-type details button {
    anchor-name: --CMD;
}

li:first-of-type details p:nth-of-type(2) {
    position: fixed;
    position-anchor: --CMD;
    position-area: block-end span-inline-start;
    border: none;
}
/* lilian */

li:nth-of-type(3) button {
    anchor-name: --Lilian;
}

li:nth-of-type(3) details {
    position: fixed;
    position-anchor: --Lilian;
    position-area: inline-end;
}

li:nth-of-type(3) details button {
    anchor-name: --CMD2;
}

li:nth-of-type(3) details p:nth-of-type(2) {
    position: fixed;
    position-anchor: --CMD2;
    position-area: block-end span-inline-start;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color:blue;
}

details {
    overflow: hidden;
    border: none;
    margin: 3em;
    width: 20%;
}

details > p {
    padding-block: 1rem;
}

Details::details-content {
    block-size: 0;
    transition: block-size 1s,
    content-visibility 1s;;
    transition-behavior: allow-discrete;   
    font-size : .7em; 
}

Details[open]::details-content {
    block-size: auto;
}

img {
    height: 70%;
    width: 75%;
}

summary {
    font-size: small;
}

:popover-open {
    background-color:rgba(220, 220, 220, 30%);
    color: black;
    padding: 0.5em;
}


